@charset "utf-8";
*{margin:0px;padding:0px;}
.login{
	background-color: #e53a30;
	width:100%;
	height:100%;
	margin:0px;
}
.loginLogo{width:3.34rem;}
.center{text-align:center}
.loginInput{background-image:url("../images/input_bg.png");width:4.78rem;height:0.69rem;border:none;background-color:transparent;position: relative}
.loginInput:after{background-image:url(../images/icon1.png);width:0.66rem;height:0.63rem;position: absolute;left:1rem;top:1px; background-repeat: no-repeat;}